/*__________Customização da seleção de texto__________*/
::selection
{
    background:#cecece;
    color:#181818;
}

/*__________Configuração basica do corpo do site__________*/

body{
    font-family: 'Segoe UI';
    margin: 0;
}

/*__________Configurações do tema claro__________*/

body.tema-claro-principal
{
    background-color: #fff;
    color: #181818;
    transition: 0.5s;
}

/*__________Configurações do menu arquivo__________*/

.painel-principal
{
    display: flex;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px solid #dadada;
}

.guia-menu
{
    display: inline-block;
    position: relative;
}

/*__________Interação da guia arquivo__________*/

.guia-arquivo
{
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s;
}

.guia-arquivo:hover
{
    background:#dadada;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s;
}

/*__________Interação dos submenus da guia arquivo__________*/

.submenu-arquivo
{
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    border: 1px solid #dadada;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 #dadada;
}

/*__________Icone do submenu salvar nota__________*/

.campo-icone-salvar-nota
{
    display: flex;
    justify-content: left;
    transition: 0.5s;
}

.campo-icone-salvar-nota:hover
{
    background-color: #dadada;
    transition: 0.5s;
}

.icone-salvar-nota
{
    padding: 3px;
}

/*__________Submenu para salvar a nota__________*/

.salvar-nota
{
    display: block;
    padding: 5px;
    font-size: 11px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

/*__________Interação com o submenu arquivo__________*/

.guia-menu:hover .submenu-arquivo
{
    padding: 2px;
    cursor: pointer;
    transition: 0.5s;
}

/*__________Exibe os submenus ocultos__________*/

.guia-menu:hover .submenu-arquivo
{
    display: block;
}

/*__________Configurações do menu tema__________*/

/*__________Interação da guia tema__________*/

.guia-tema
{
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s;
}

.guia-tema:hover
{
    background:#dadada;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s;
}

/*__________Div pai de todos os temas__________*/

.temas
{
    display: flex;
    justify-content: left;
}

.submenu-tema .temas:hover
{
    display: flex;
    justify-content: left;
    background-color: #dadada;
    transition: 0.5s;
}

/*__________Div principal que armazena todos os submenus presente na guia temas__________*/

.submenu-tema
{
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    background: #fff;
    border: 1px solid #dadada;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 #dadada;

}

/*__________Icone/submenu do tema claro__________*/

.campo-icone-tema-claro
{
    display: flex;
    justify-content: left;
    transition: 0.5s;
}

.campo-icone-tema-claro:hover
{
    transition: 0.5s;
}

.icone-tema-claro
{
    padding: 5px;
}

.tema-claro
{
    display: block;
    padding: 5px;
    font-size: 11px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 3px;

}

/*__________Icone/submenu do tema escuro__________*/

.campo-icone-tema-escuro
{
    display: flex;
    justify-content: left;
    transition: 0.5s;
}

.campo-icone-tema-escuro:hover
{
    transition: 0.5s;
}

.icone-tema-escuro
{
    padding: 5px;
}

.tema-escuro
{
    display: block;
    padding: 5px;
    font-size: 11px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 3px;
}

/*__________Interação com o submenu tema__________*/


.guia-menu:hover .submenu-tema
{
    padding: 2px;
    cursor: pointer;
    transition: 0.5s;
}

/*__________Exibe os submenus ocultos__________*/

.guia-menu:hover .submenu-tema
{
    display: block;
}

/*__________Recursos do campo de nota__________*/

.titulo-nota
{
    margin: 10px;
}

.titulo-editavel
{
    display: inline;
    background: #eeeeee;
    color: #181818;
    padding: 2px;
    border: 1px solid #dadada;
    outline: none;
    caret-color: #303030;
}

.campo-da-nota
{
    font-size: 14px;
    background: #eeeeee;
    outline: none;
    caret-color: #303030;
    border: 1px solid #dadada;
    padding: 5px;
    color: #303030;
    margin-left: 10px;
    margin-right: 10px;
}

/*__________Créditos do desenvolvedor__________*/

.creditos
{
    display: flex;
    justify-content: center;
    color: #dadada;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.creditos .link-github
{
    text-decoration: none;
    color: #dadada;
    margin: 5px;
    transition: 0.5s;
}

.link-github:hover
{
    text-decoration: none;
    color: #51b4ee;
    margin: 5px;
    transition: 0.5s;
}

/*__________Configurações do tema escuro__________*/

/*__________Configurações do tema escuro__________*/

body.tema-escuro-principal {
    background-color: #303030;
    color: #fff;
    transition: 0.5s;
}

/*__________Interação da guia arquivo__________*/

body.tema-escuro-principal .guia-arquivo {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s;
    color: #fff;
}

body.tema-escuro-principal .guia-arquivo:hover {
    background: #303030;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s;
}

/*__________Interação dos submenus da guia arquivo__________*/

body.tema-escuro-principal .submenu-arquivo {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    border: 1px solid #181818;
    background: #303030;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 #181818;
}

/*__________Icone do submenu salvar nota__________*/

body.tema-escuro-principal .campo-icone-salvar-nota
{
    display: flex;
    transition: 0.5s;
    justify-content: left;
}

body.tema-escuro-principal .campo-icone-salvar-nota:hover
{
    background-color: #181818;
    transition: 0.5s;
}

body.tema-escuro-principal .icone-salvar-nota
{
    padding: 2px;
    filter: invert();
}

/*__________Submenu para salvar a nota__________*/

body.tema-escuro-principal .salvar-nota {
    display: block;
    padding: 5px;
    font-size: 11px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

/*__________Interação com o submenu arquivo__________*/

body.tema-escuro-principal .guia-menu:hover .submenu-arquivo {
    padding: 2px;
    cursor: pointer;
    transition: 0.5s;
}

/*__________Exibe os submenus ocultos__________*/

body.tema-escuro-principal .guia-menu:hover .submenu-arquivo {
    display: block;
}

/*__________Configurações do menu tema__________*/

/*__________Interação da guia tema__________*/

body.tema-escuro-principal .guia-tema {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s;
    color: #fff;
}

body.tema-escuro-principal .guia-tema:hover {
    cursor: pointer;
    padding: 5px;
    transition: 0.5s;
}

/*__________Div pai de todos os temas__________*/

body.tema-escuro-principal .temas {
    display: flex;
    justify-content: left;
}

body.tema-escuro-principal .temas:hover {
    display: flex;
    justify-content: left;
    background: #181818;
}

/*__________Icone/submenu do tema claro__________*/

body.tema-escuro-principal .campo-icone-tema-claro
{
    display: flex;
    justify-content: left;
    transition: 0.5s;
}

body.tema-escuro-principal .campo-icone-tema-claro:hover
{
    transition: 0.5s;
}

body.tema-escuro-principal .icone-tema-claro
{
    padding: 5px;
    filter: invert();
}

body.tema-escuro-principal .tema-claro
{
    display: block;
    padding: 5px;
    font-size: 11px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 3px;
}

/*__________Icone/submenu do tema escuro__________*/

body.tema-escuro-principal .campo-icone-tema-escuro
{
    display: flex;
    justify-content: left;
    transition: 0.5s;
}

body.tema-escuro-principal .campo-icone-tema-escuro:hover
{
    transition: 0.5s;
}

body.tema-escuro-principal .icone-tema-escuro
{
    padding: 5px;
    filter: invert();
}

body.tema-escuro-principal .tema-escuro
{
    display: block;
    padding: 5px;
    font-size: 11px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 3px;
}

/*__________Interação com as opções de temas__________*/

body.tema-escuro-principal .submenu-tema .temas:hover {
    display: flex;
    justify-content: left;
    transition: 0.5s;
}

/*__________Div principal que armazena todos os submenus presente na guia temas__________*/

body.tema-escuro-principal .submenu-tema {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    border: 1px solid #181818;
    background: #303030;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 #181818;
}

/*__________Submenu do tema claro__________*/

body.tema-escuro-principal .tema-claro {
    display: block;
    padding: 5px;
    font-size: 11px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

/*__________Submenu do tema escuro__________*/

body.tema-escuro-principal .tema-escuro {
    display: block;
    padding: 5px;
    font-size: 11px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

/*__________Interação com o submenu tema__________*/

body.tema-escuro-principal .guia-menu:hover .submenu-tema {
    padding: 2px;
    cursor: pointer;
    transition: 0.5s;
}

/*__________Exibe os submenus ocultos__________*/

body.tema-escuro-principal .guia-menu:hover .submenu-tema {
    display: block;
}

/*__________Recursos do campo de nota__________*/

body.tema-escuro-principal .titulo-nota {
    margin: 10px;
}

body.tema-escuro-principal .titulo-editavel {
    display: inline;
    background: #5e5e5e;
    color: #fff;
    padding: 2px;
    border: 1px solid #dadada;
    outline: none;
    caret-color: #fff;
}

body.tema-escuro-principal .campo-da-nota {
    font-size: 14px;
    background: #5e5e5e;
    outline: none;
    caret-color: #303030;
    border: 1px solid #dadada;
    padding: 5px;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

/*__________Créditos do desenvolvedor__________*/

body.tema-escuro-principal .creditos .link-github
{
    text-decoration: none;
    margin: 5px;
    transition: 0.5s;
}

body.tema-escuro-principal .link-github:hover
{
    text-decoration: none;
    margin: 5px;
    transition: 0.5s;
}
